ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^rlc-solver/endpoint$ /var/www/tristonbabers.com/public_html/scripts/endpoint.php [L]