:root {
    /* General */
    --heading-font: helvetica;
    --heading-color: blue;
    --sub-heading-font: georgia;
    --sub-heading-color: darkgreen;
    --paragraph-font: times;
    --paragraph-color: black;
    /* Project Navigation */
    --project-nav-font: helvetica;
    --project-nav-color: black;
    --project-nav-bg-color: grey;
    /* Layout */
    --project-side-margin: 5px;
    --nav-link-height: 2em;
    --nav-link-width: 3em;
}
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* General */
h1 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}
h2 {
    font-family: var(--sub-heading-font);
    color: var(--heading-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

/* Project Navigation */
article nav ul li {
    font-family: var(--project-nav-font);
    background-color: var(--project-nav-bg-color);
    border: none;
    width: var(--nav-link-width);
    height: var(--nav-link-height);
    padding: calc(0.9 * var(--nav-link-height)) calc(0.9 * var(--nav-link-width));
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
article nav ul li a {
    text-decoration: none;
    color: var(--project-nav-color);
}

/* Grid */
article {
    display: grid;
    grid-template-columns: [nav-side-start] var(--project-side-margin) [mobile-margin-left] calc(var(--nav-link-width) - var(--project-side-margin)) [nav-side-end] var(--project-side-margin) [margin-left] auto [aside] 30px [margin-right] var(--project-side-margin) [end];
    grid-template-rows: [nav-top-start] var(--nav-link-height) [nav-top-end] auto [end];
}
@media (min-width: 1057px) { /* Desktop Screen */
    article main {
        grid-column: margin-left / margin-right;
        grid-row: nav-top-start / end;
    }
    article nav {
        grid-column: nav-side-start / nav-side-end;
        grid-row: nav-top-start / end;
    }
}
@media (max-width: 1056px) { /* Mobile Screen */
    article main {
        grid-column: mobile-margin-left / margin-right;
        grid-row: nav-top-end / end;
    }
    article nav {
        grid-column: nav-side-start / end;
        grid-row: nav-top-start / nav-top-end;
    }
}