:root {
  /* Fonts */
  --component-dim: 70px;
  --outline-dim: 69px;
}

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
}

.workspace {
  width: 99.5%;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  text-align: center;
}

.component {
  width: var(--component-dim);
  height: var(--component-dim);
  display: inline-block;
  margin: 0;
  padding: 0;
  background: #e2e2e2;
  border: 0px solid #000;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  /*touch-action: none; Prevent selection */
  -webkit-touch-callout: none;
}

.circuit-board {
  width: 99%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
  border: 2px dashed #999;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--component-dim));
  grid-template-rows: repeat(6, var(--component-dim));
}

.overlay {
  display: none; /* Initially hidden */
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    transparent,
    transparent var(--outline-dim),
    #000 var(--outline-dim),
    #000 var(--component-dim)
  ),
  repeating-linear-gradient(
    90deg,
    transparent,
    transparent var(--outline-dim),
    #000 var(--outline-dim),
    #000 var(--component-dim)
  );
  opacity: 0.3;
  pointer-events: none; /* Allow events to pass through */
}

.projection {
  position: absolute;
  width: var(--component-dim);
  height: var(--component-dim);
  background: rgba(221, 221, 221, 0.5); /* Semi-transparent */
  border: 1px dashed black;
  box-sizing: border-box;
  pointer-events: none;
}